body {
    color: #414141;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    line-height: 1.6;
}

header {
    text-align: center;
    max-width: 1120px;
    margin: 0 auto;
    padding-bottom: 50px;
}

header h1 {
    font-family: 'Cinzel', serif;
    font-size: 96px;
    margin-bottom: 0px;
    line-height: 1;
}

.subtitle {
    color: #7D7D7D;
    font-size: 36px;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
}

.lead {
    font-size: 21px;
}

.container {
    width: 90%;
    max-width: 39rem;
    margin: 0 auto;
}

a {
    color: #CA5E10;
}