<!DOCTYPE html>
<html>
<head>
<title>Number System Converter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Convert binary decimal, octal and hexadecimal numbers">
<meta name="author" content="Denniel Luis Saway Sadian">
<meta name="date" content="July 7, 2018">
<link rel="icon" href="images/icon.png">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<body class="w3-light-gray">

<header class="w3-container w3-black w3-center" style="padding:20px">
	<h1 style="letter-spacing:4px">Number System Converter</h1>
	<p class="w3-opacity">Created by <a href="index.html" class="w3-hover-blue w3-large">@dennielsadian</a><p>
</header>

<div ng-app="converter" ng-controller="myCtrl" ng-init="colorClicked()">
	<div class="w3-bar w3-block w3-green w3-border-gray w3-bottombar
	            w3-topbar">
		<div class="w3-content w3-large">
			<button ng-click="changeTo('bin')" id="bin-btn"
			        class="w3-bar-item w3-button">Bin</button>
			<button ng-click="changeTo('dec')" id="dec-btn"
			        class="w3-bar-item w3-button">Dec</button>
			<button ng-click="changeTo('oct')" id="oct-btn"
			        class="w3-bar-item w3-button">Oct</button>
			<button ng-click="changeTo('hex')" id="hex-btn"
			        class="w3-bar-item w3-button">Hex</button>
		</div>
	</div>
	<div class="w3-container">
		<div class="w3-content w3-margin-top">
			<h4 id="remainder" class="w3-opacity"></h4>
			<input id='main-input' type="text" placeholder="{{clicked}}"
			       class="w3-input w3-border w3-border-black w3-padding
				          w3-margin-bottom w3-hover-border-green
						  w3-round"
				   ng-model="toConvert" ng-change="onInput()">
			<div class="bin w3-panel w3-teal">
				<h3>Binary</h3>
				<p id="bin-res" class="w3-large">=</p>
			</div>
			<div class="dec w3-panel w3-blue">
				<h3>Decimal</h3>
				<p id="dec-res" class="w3-large">=</p>
			</div>
			<div class="oct w3-panel w3-purple">
				<h3>Octal</h3>
				<p id="oct-res" class="w3-large">=</p>
			</div>
			<div class="hex w3-panel w3-pink">
				<h3>Hexadecimal</h3>
				<p id="hex-res" class="w3-large">=</p>
			</div>
		</div>
	</div>
</div>
	
<script>
// July 7, 2018
// Written by Denniel Luis Saway Sadian

var app = angular.module('converter', [])
app.controller('myCtrl', function($scope) {
	$scope.clicked = 'bin';
	$scope.units = ['bin', 'dec', 'oct', 'hex'];
	$scope.onInput = function() {
		switch ($scope.clicked) {
			case 'bin':
				$('#dec-res').html('= '+$scope.formatProperly(
					$scope.binToDec($scope.toConvert),
						3, ' ')+'<sub>10</sub>');
				$('#oct-res').html('= '+$scope.formatProperly(
					$scope.binToOct($scope.toConvert),
						3, ' ')+'<sub>8</sub>');
				$('#hex-res').html('= '+$scope.formatProperly(
					$scope.binToHex($scope.toConvert),
						4, ' ')+'<sub>16</sub>');
				break;
			case 'dec':
				$('#bin-res').html('= '+$scope.formatProperly(
					$scope.decToBin($scope.toConvert),
						4, ' ')+'<sub>2</sub>');
				$('#oct-res').html('= '+$scope.formatProperly(
					$scope.decToOct($scope.toConvert),
						3, ' ')+'<sub>8</sub>');
				$('#hex-res').html('= '+$scope.formatProperly(
					$scope.decToHex($scope.toConvert),
						4, ' ')+'<sub>16</sub>');
				break;
			case 'oct':
				$('#bin-res').html('= '+$scope.formatProperly(
					$scope.octToBin($scope.toConvert),
						4, ' ')+'<sub>2</sub>');
				$('#dec-res').html('= '+$scope.formatProperly(
					$scope.octToDec($scope.toConvert),
						3, ' ')+'<sub>10</sub>');
				$('#hex-res').html('= '+$scope.formatProperly(
					$scope.octToHex($scope.toConvert),
						4, ' ')+'<sub>16</sub>');
				break;
			case 'hex':
				$('#bin-res').html('= '+$scope.formatProperly(
					$scope.hexToBin($scope.toConvert),
						4, ' ')+'<sub>2</sub>');
				$('#dec-res').html('= '+$scope.formatProperly(
					$scope.hexToDec($scope.toConvert),
						3, ' ')+'<sub>10</sub>');
				$('#oct-res').html('= '+$scope.formatProperly(
					$scope.hexToOct($scope.toConvert),
						3, ' ')+'<sub>8</sub>');
				break;
		}
	}
	$scope.binToDec = function(bin) {
		var conv = bin;
		var col = 1;
		var dec = 0;
		for (var i = conv.length-1; i >= 0; i--) {
			if (conv[i] == '1') {
				dec += col;
			}
			if (conv[i] != '0' && conv[i] != '1') {
				return dec
			}
			col *= 2;
		}
		return dec;
	}
	$scope.binToOct = function(bin) {
		var conv = bin;
		var temp = [];
		var oct = '';
		for (var i = conv.length-1; i >= 0; i -= 3) {
			temp.push(conv.substr(-3));
			conv = conv.slice(0, -3);
		}
		for (var i in temp.reverse()) {
			switch (temp[i]) {
				case '0':
				case '00':
				case '000':
					oct += '0';
					break;
				case '1':
				case '01':
				case '001':
					oct += '1';
					break;
				case '10':
				case '010':
					oct += '2';
					break;
				case '011':
				case '11':
					oct += '3';
					break;
				case '100':
					oct += '4';
					break;
				case '101':
					oct += '5';
					break;
				case '110':
					oct += '6';
					break;
				case '111':
					oct += '7';
			}
		}
		return oct;
	}
	$scope.binToHex = function(bin) {
		var conv = bin;
		var temp = [];
		var hex = '';
		for (var i = conv.length-1; i >= 0; i -= 4) {
			temp.push(conv.substr(-4));
			conv = conv.slice(0, -4);
		}
		for (var i in temp.reverse()) {
			switch (temp[i]) {
				case '0':
				case '00':
				case '000':
				case '0000':
					hex += '0';
					break;
				case '1':
				case '01':
				case '001':
				case '0001':
					hex += '1';
					break;
				case '10':
				case '010':
				case '0010':
					hex += '2';
					break;
				case '11':
				case '011':
				case '0011':
					hex += '3';
					break;
				case '100':
				case '0100':
					hex += '4';
					break;
				case '101':
				case '0101':
					hex += '5';
					break;
				case '110':
				case '0110':
					hex += '6';
					break;
				case '111':
				case '0111':
					hex += '7';
					break;
				case '1000':
					hex += '8';
					break;
				case '1001':
					hex += '9';
					break;
				case '1010':
					hex += 'A';
					break;
				case '1011':
					hex += 'B';
					break;
				case '1100':
					hex += 'C';
					break;
				case '1101':
					hex += 'D';
					break;
				case '1110':
					hex += 'E';
					break;
				case '1111':
					hex += 'F';
					break;
				}
			}
			return hex;
		}
	$scope.decToBin = function(dec) {
		var decs = [Number(dec)];
		var bin = '';
		while (Math.floor(dec / 2) >= 1) {
			dec = Math.floor(dec / 2);
			decs.push(dec);
		}
		decs.reverse();
		for (var i in decs) {
			if (decs[i] % 2 == 0) {
				bin += '0'
			} else {
				bin += '1'
			}
		}
		return bin;
	}
	$scope.decToOct = function(dec) {
		var bin = $scope.decToBin(dec);
		var oct = $scope.binToOct(bin);
		return oct;
	}
	$scope.decToHex = function(dec) {
		var bin = $scope.decToBin(dec);
		var hex = $scope.binToHex(bin);
		return hex;
	}
	$scope.octToBin = function(oct) {
		var bin = '';
		for (var i in oct) {
			switch (oct[i]) {
				case '0':
					bin += '000';
					break;
				case '1':
					bin += '001';
					break;
				case '2':
					bin += '010';
					break;
				case '3':
					bin += '011';
					break;
				case '4':
					bin += '100';
					break;
				case '5':
					bin += '101';
					break;
				case '6':
					bin += '110';
					break;
				case '7':
					bin += '111';
			}
		}
		return bin;
	}
	$scope.octToDec = function(oct) {
		var bin = $scope.octToBin(oct);
		var dec = $scope.binToDec(bin);
		return dec;
	}
	$scope.octToHex = function(oct) {
		var bin = $scope.octToBin(oct);
		var hex = $scope.binToHex(bin);
		return hex;
	}
	$scope.hexToBin = function(hex) {
		var bin = '';
		for (var i in hex) {
			switch (hex[i]) {
				case '0':
					bin += '0000';
					break;
				case '1':
					bin += '0001';
					break;
				case '2':
					bin += '0010';
					break;
				case '3':
					bin += '0011';
					break;
				case '4':
					bin += '0100';
					break;
				case '5':
					bin += '0101';
					break;
				case '6':
					bin += '0110';
					break;
				case '7':
					bin += '0111';
					break;
				case '8':
					bin += '1000';
					break;
				case '9':
					bin += '1001';
					break;
				case 'A':
				case 'a':
					bin += '1010';
					break;
				case 'B':
				case 'b':
					bin += '1011';
					break;
				case 'C':
				case 'c':
					bin += '1100';
					break;
				case 'D':
				case 'd':
					bin += '1101';
					break;
				case 'E':
				case 'e':
					bin += '1110';
					break;
				case 'F':
				case 'f':
					bin += '1111';
					break;
			}
		}
		return bin;
	}
	$scope.hexToDec = function(hex) {
		var bin = $scope.hexToBin(hex);
		var dec = $scope.binToDec(bin);
		return dec;
	}
	$scope.hexToOct = function(hex) {
		var bin = $scope.hexToBin(hex);
		var oct = $scope.binToOct(bin);
		return oct;
	}
	$scope.changeTo = function(what) {
		$scope.clicked = what;
		$scope.colorClicked();
		$scope.toConvert = '';
		$('#bin-res').html('= ');
		$('#dec-res').html('= ');
		$('#oct-res').html('= ');
		$('#hex-res').html('= ');
	}
	$scope.formatProperly = function(what, every, separator) {
		var conv = String(what);
		var temp = [];
		for (var i = conv.length-1; i >= 0; i -= every) {
			temp.push(conv.substr(-every));
			conv = conv.slice(0, -every);
		}
		return temp.reverse().join(separator);
	}
	$scope.colorClicked = function() {
		for (var i = 0; i < $scope.units.length; i++) {
			if ($scope.units[i] == $scope.clicked) {
				$('#'+$scope.units[i]+'-btn').addClass('w3-green');
				$('.'+$scope.clicked).slideUp();
			}
			else {
				$('#'+$scope.units[i]+'-btn').removeClass('w3-green');
			}
		}
		switch ($scope.clicked) {
			case 'bin':
				$('.bin').slideUp();
				$('.dec').slideDown();
				$('.oct').slideDown();
				$('.hex').slideDown();
				$('#remainder').text(
					'You can only input positive 1s or 0s.');
				$('#main-input').attr('type', 'number');
				break;
			case 'dec':
				$('.bin').slideDown();
				$('.dec').slideUp();
				$('.oct').slideDown();
				$('.hex').slideDown();
				$('#remainder').text(
					'You can only input positive numbers.');
				$('#main-input').attr('type', 'number');
				break;
			case 'oct':
				$('.bin').slideDown();
				$('.dec').slideDown();
				$('.oct').slideUp();
				$('.hex').slideDown();
				$('#main-input').attr('type', 'number');
				$('#remainder').text(
					'You can only input positve numbers from 0 to 7.');
				break;
			case 'hex':
				$('.bin').slideDown();
				$('.dec').slideDown();
				$('.oct').slideDown();
				$('.hex').slideUp();
				$('#main-input').attr('type', 'text');
				$('#remainder').text('All positive numbers and letters ' +
					'from A to F in any case only.');
		}
	}
});
</script>

</body>
</html>
