<!DOCTYPE html>
<html>
<head>
<title>Number System Converter</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Convert binary decimal, octal and hexadecimal numbers">
<meta name="author" content="Denniel Luis Saway Sadian">
<meta name="date" content="July 7, 2018">
<link rel="icon" href="images/icon.png">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<style>
header {
	background: url("images/cubism-green.png") no-repeat fixed;
}
.w3-bar {
	background: url("images/cubism-gray.png") no-repeat fixed;
}
header, .w3-bar {
	background-size: cover;
}
</style>
</head>
<body class="w3-light-gray">

<header class="w3-container w3-black w3-center" style="padding:20px">
	<h1 style="letter-spacing:4px">Number System Converter</h1>
	<p class="w3-opacity">Created by <a href="about.html" class="w3-hover-blue w3-large">@dennielsadian</a><p>
</header>

<div ng-app="converter" ng-controller="myCtrl" ng-init="colorClicked()">
	<div class="w3-bar w3-block w3-green w3-border-gray w3-bottombar
	            w3-topbar">
		<div class="w3-content w3-large">
			<button ng-click="changeTo('bin')" id="bin-btn"
			        class="w3-bar-item w3-button">Bin</button>
			<button ng-click="changeTo('dec')" id="dec-btn"
			        class="w3-bar-item w3-button">Dec</button>
			<button ng-click="changeTo('oct')" id="oct-btn"
			        class="w3-bar-item w3-button">Oct</button>
			<button ng-click="changeTo('hex')" id="hex-btn"
			        class="w3-bar-item w3-button">Hex</button>
		</div>
	</div>
	<div class="w3-container">
		<div class="w3-content w3-margin-top">
			<h4 id="remainder" class="w3-opacity"></h4>
			<input id='main-input' type="text" placeholder="{{clicked}}"
			       class="w3-input w3-border w3-border-black w3-padding
				          w3-margin-bottom w3-hover-border-green
						  w3-round"
				   ng-model="toConvert" ng-change="onInput()">
			<div class="bin w3-panel w3-teal">
				<h3>Binary</h3>
				<p id="bin-res" class="w3-large">=</p>
			</div>
			<div class="dec w3-panel w3-blue">
				<h3>Decimal</h3>
				<p id="dec-res" class="w3-large">=</p>
			</div>
			<div class="oct w3-panel w3-purple">
				<h3>Octal</h3>
				<p id="oct-res" class="w3-large">=</p>
			</div>
			<div class="hex w3-panel w3-pink">
				<h3>Hexadecimal</h3>
				<p id="hex-res" class="w3-large">=</p>
			</div>
		</div>
	</div>
</div>
	
<script src="scripts/main.nsc.js"></script>

</body>
</html>
